button{
  border: 1px solid skyblue;
 
  border-radius: 50px;
  padding:5px;
  margin: 0 10px;
}
body{
  display:flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
table{
  max-width:500px;

}
tbody{
  color: white;
}